:root {
    --primary-color: hsl(178, 60%, 32%);
    --secondary-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 0%);
    --secondary-text-color: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

body {
    font-family: "verdana", sans-serif;
    src: url("fonts/fa-solid-900.woff2");
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    color: var(--text-color);
}

.hide {
    display: none;
}

.btn {
    padding: 1rem 1.25rem;
    font-weight: bolder;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 1.25rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

ul {
    list-style: none;
}

header li {
    margin: 0 3.3rem;
}

header li a {
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-inline: 1.5rem;
}

.container .card {
    width: 100%;
    max-width: 50rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.1);
    padding: 4rem;
}

.container .card .title {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1.25rem;
}

.container .card .heading, .subheading {
    font-weight: 500;
    margin-block: 1rem;
}

#question {
    margin-bottom: 1rem;
}

#answer-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

#answer-buttons button {
    width: 100%;
    margin-block: 0.2rem;
}

#question-checker {
    margin-top: 1rem;
    font-weight: lighter;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container .card {
        max-width: 25rem;
        padding: 2rem;
    }

    .container .card .title{
        margin-top: 1rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .container .card {
        max-width: 55rem;
        padding: 6rem;
    }

    .container .card .title {
        font-size: 2rem;
    }
}
